[Unit]
Description=Yamaha serial controller gateway
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/yamahacontroller/
ExecStart=/root/yamahacontroller/start.sh
SyslogIdentifier=yamahacontroller

[Install]
WantedBy=multi-user.target
